*{
   margin:0;
   padding:0;
}
div.background-img{
   position:fixed;
   width:30%;
   height:100vh;
   box-sizing: border-box;
   padding-top:200px;
   background:url("https://source.unsplash.com/featured/?{swimming}") 50% 50% no-repeat;
   background-size:cover;
   font-size: 30px;

}
div.background-img *{
	font-weight:bold;
	color: #fff;
	text-align:center;
}
div.container{ 
   width: 70%;
	float: right;
	box-sizing: border-box;
   padding: 10px;
   padding-left:30px;
}
div.container .shoppingmall-title{
   color:royalblue;
   padding-bottom: 30px;
}
div.container .shoppingmall-wrap > li{
   list-style: none;
   display: flex;
   padding-bottom: 10px;
}
div.container .shoppingmall-wrap > li > div.square{
   width: 100px;
   height: 90px;
   background: lightgrey;
}

div.container .shoppingmall-wrap > li > dl{
   padding-left:20px;
   padding-bottom:20px;
}
div.container .shoppingmall-wrap > li > dl > dt{
   font-size: 30px;
   font-weight: bold;

}
div.container .shoppingmall-wrap > li > dl > dd{
   font-size: 20px;
}