*{
   margin:0;
   padding:0;
}
div.background-img{
   width:100vw;
   height:100vh;
   box-sizing: border-box;
   padding-top:150px;
   background:url("https://source.unsplash.com/featured/?{swimming}") 50% 50% no-repeat;
   background-size:cover;

}
div.background-img *{
	font-size:58px;
	font-weight:bold;
	color: #fff;
	text-align:center;
}