*{
   margin:0;
   padding:0;
}
div.background-img{
   position:fixed;
   width:30%;
   height:100vh;
   box-sizing: border-box;
   padding-top:200px;
   background:url("https://source.unsplash.com/featured/?{swimming}") 50% 50% no-repeat;
   background-size:cover;
   font-size: 30px;
}
div.background-img *{
   font-weight:bold;
   color: #fff;
   text-align:center;
}
div.container{ 
   width: 70%;
	float: right;
	box-sizing: border-box;
   padding: 10px;
   padding-left:30px;
   
}

div.container .location-title{
   color:royalblue;
   padding-bottom: 20px;
}